*{
    margin: 0;
    padding: 0;
}
.container{
    width: 30%;
    height: 300px;
    margin: auto;
    margin-top: 100px;
    padding: 10px;
    text-align: center;
    background-color: #ffe4c4;
    color: #d70909;
    border-radius: 5px;
    
}
button{
    width: 20%;
    height: 30px;
    color: #ffffff;
    background-color: #808080;
    border: 2px solid blueviolet;
    border-radius: 5px;
}
